.main_categories-s {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.main_categories-s>.category-1, .main_categories-s>.category-2, .main_categories-s>.category-3 {
    position: absolute;
    overflow: hidden;
}
.main_categories-s>.category-1, .main_categories-s>.category-3 {
    border: solid black 1px;
}
.main_categories-s>.category-2 {
    left: -20%;
    top: 15%;
    width: 80%;
    height: 100vh;
}
.main_categories-s>.category-1 {
    z-index: 1;
    right: 26%;
    bottom: 55%;
    transform: rotate(45deg);
    width: 100%;
    height: 100vh;
}
.main_categories-s>.category-3 {
    left: 50%;
    top: -14%;
    transform: rotate(240deg);
    width: 64%;
    height: 130vh;
}
.main_categories-s>.title {
    position: absolute;
    top: 4vh;
    left: 6vw;
    z-index: 1;
    font-size: 2.4em;
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
    text-align: left;
}
@media screen and (max-aspect-ratio:1/1) {
    .main_categories-s {
        background-color: antiquewhite;
    }
    .main_categories-s>.category-1 {
        top: -38%;
        right: 35%;    
        width: 140%;
    }
    .main_categories-s>.category-2 {
        top: 30%;
        transform: rotate(10deg);
        width: 110%;
    }
    .main_categories-s>.category-3 {
        top: -20%;
        transform: rotate(250deg);
        width: 75%;
    }
    .main_categories-s>.title {
        top: 40vh;
        font-size: 3.2em;
    } 
}
@media screen and (max-aspect-ratio:75/100) {
    .main_categories-s>.category-1 {
        top: -40%;
    }
    .main_categories-s>.category-2 {
        left: -6%;
        width: 100%;
    }
    .main_categories-s>.category-3 {
        top: -25%;
        left: 60%;
        width: 80%;
    }
}
@media screen and (max-aspect-ratio:67/100) {
    .main_categories-s>.category-1 {
        top: -38%;
        right: 35%;    
        width: 140%;
    }
    .main_categories-s>.category-2 {
        top: 30%;
        transform: rotate(10deg);
        width: 110%;
    }
    .main_categories-s>.category-3 {
        top: -20%;
        transform: rotate(250deg);
        width: 75%;
    }
}
@media screen and (max-aspect-ratio:57/100) {
    .main_categories-s>.category-1 {
        top: -30%;
        right: 50%;
        width: 150%;
    }
    .main_categories-s>.category-2 {
        width: 115%;
    }
    .main_categories-s>.category-3 {
        width: 85%;
        left: 40%;
    }
}
@media screen and (max-width:400px) {
    .main_categories-s>.title {
        font-size: 2.4em;
    } 
}