.gallery-p {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: white;
}
.gallery-p>.nav-space {
    height: 2vh;
    background-color: beige;
}
.gallery-p>.nav-bg {
    width: 100%;
    height: 4.4em;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 0 .3em black;
}
@media screen and (max-width:600px) {
    .gallery-p>.nav-space {
        height: 11vh;
    }
}