.img-pooper-c-c {
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    width: 96vw;
    height: 96vh;
    background-color: whitesmoke;
}
.img-pooper-c-c>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
    cursor: zoom-in;
}
.img-pooper-c-c>img.zoomed {
    position: unset;
    transform: unset;
    width: auto;
    max-width: unset;
    cursor: zoom-out;
}
.img-pooper-c-c_close {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    margin: 2em;
    font-size: 1.6em;
    color: darkred;
    box-shadow: inset 0 0 .6em darkred;
}