@font-face {
  font-family: specialagent;
  src: url(./font-families/specialagent.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./font-families/Roboto-Light.ttf)
}
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
body {
  overflow-x: hidden;
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
